.addform {
  width: 85%;
  margin: auto;
  margin-bottom: 0.5rem;
  padding-bottom: 1rem;
  border-top: solid grey;
  border-width: 2px;
}

.addform input {
  width: 60%;
}

.addform input,
select,
button {
  padding: 0.5rem;
  margin-right: 1rem;
}

.addform button {
  background-color: #0290ff;
  color: white;
}
